.order-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.order-container .table-orders{
    box-shadow: 20px;
    background-color: #fff;
    padding: 10px;
}
.order-table-container{
    max-width: 340;
    max-height: 540
}